*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
table {
  width: 80%;
  margin: 40px;
  border-collapse: collapse;
  font-family: sans-serif;
  font-size: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border: none;
  border-radius: 10px;
}

th {
  background-color: #4f46e5;
  color: white;
  padding: 12px 15px;
  text-align: left;
  font-weight: 600;
 }
 
td {
  padding: 10px 15px;
  color: #333;
}